{% macro render_field(field) %}
<dt>{{ field.label }}</dt>
<dd>{{ field(**kwargs) | safe }}{% if field.errors -%}
<ul class=errors>
{% for error in field.errors %}
  <li>{{ error }}</li>
{% endfor %}
</ul>
{% endif -%}</dd>{% endmacro %}

{% macro menu_field(href,title,caption,active_page) %}
<li><a href="{{ href | e }}" title="{{ title | e }}">
{%- if title == active_page %}<span>{% endif -%}
      {{ caption | e }}
    {%- if title == active_page %}</span>{% endif %}</a></li>
{% endmacro %}

{% macro render_pagination_a(pagination) %}
<div class=pagination>
{%- for page in pagination.iter_pages() %}
  {% if page %}
    {% if page != pagination.page %}
      <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
    {% else %}
      <strong>{{ page }}</strong>
    {% endif %}
  {% else %}
    <span class=ellipsis>…</span>
  {% endif %}
{%- endfor %}
{% if pagination.has_next %}
  <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
{% endif %}
</div>
{% endmacro %}

{% macro render_pagination_b(pagination) %}
  <ul id="pagination">
  {% if pagination.has_next %}
    <li class="next"><a href="{{ url_for_other_page(pagination.page + 1) }}">&laquo;</a></li>
  {% else %}
    <li class="next-off">&laquo;</li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
  {% if page %}
    {% if page != pagination.page %}
    <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
    {% else %}
    <li class="active">{{ page }}</li>
    {% endif %}
  {% else %}
  <!--<li><span class=ellipsis>…</span></li>-->
  {% endif %}
  {%- endfor %}
  {% if pagination.has_prev %}
    <li class="previous"><a href="{{ url_for_other_page(pagination.page - 1) }}">&raquo;</a></li>
  {% else %}
    <li class="previous-off">&raquo;</li>
  {% endif %}
  </ul>
{% endmacro %}
