{% extends "layout.html" %}
{% set active_page='Main' %}

{% block content %}
    <p>Добро пожаловать на мой небольшой сайт, посвящённый отображению и анализу
    моих спортивных тренировок. Что же здесь есть?</p>
    <ul class="details">
        <li><h2><a href="#" class="dashed">Тренировочный дневник</a></h2>
        <div class="hide"><p>В <a href="/tdiary">тренировочном дневнике</a> ведётся запись всех тренировок. На основании
	этой информации можно сделать вывод о дальнейшем планировании нагрузок и восстановления.
	Также можно заметить, на какой неделе кто-то халявил, а на какой - нет :)</p>
        </div></li>
    </ul>
{% endblock %}
