{% extends "layout.html" %}
{% set active_page='Main' %}

{% block content %}
    <p>Добро пожаловать на мой небольшой сайт, посвящённый отображению и анализу
    моих спортивных тренировок. Что же здесь есть?</p>
    <ul class="details">
        <li><h2><a href="#" class="dashed">Тренировочный дневник</a></h2>
        <div class="hide"><p>В <a href="/tdiary">тренировочном дневнике</a> ведётся запись всех тренировок. На основании
	этой информации можно сделать вывод о дальнейшем планировании нагрузок и восстановления.
	Также можно заметить, на какой неделе кто-то халявил, а на какой - нет :)</p>
        </div></li>
        <li><h2><a class="dashed" href="#">Test message</a></h2>
        <div class="hide">
          <p>test message</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel pellentesque odio. Vestibulum semper diam ante. Quisque bibendum est a orci bibendum ac vulputate diam aliquam. Nulla sed tellus quam, nec aliquet est. Sed fringilla malesuada massa sed hendrerit. Sed non augue eu enim tempor porttitor. Duis vitae accumsan nunc. Morbi sit amet risus non felis tristique malesuada ac at erat. Praesent lorem nulla, convallis ut scelerisque at, venenatis a leo. Morbi rutrum orci vitae velit vestibulum cursus. In ut mauris lacus. Cras a massa nec orci hendrerit accumsan ac a neque. Aliquam eu lorem nunc. Curabitur ullamcorper malesuada pellentesque.</p>
          <p>Curabitur pharetra, libero id venenatis blandit, velit arcu gravida ligula, at vestibulum est risus vitae nisi. Vivamus in mi at magna porta tincidunt quis eu tellus. Praesent ipsum est, posuere non semper ut, bibendum sed magna. Vestibulum dapibus scelerisque interdum. Etiam vulputate enim eu risus suscipit eu aliquet quam pulvinar. Maecenas at consectetur mi. Proin bibendum posuere sem quis suscipit. Quisque imperdiet porttitor arcu ac convallis. Aenean dictum ullamcorper augue, eu fringilla nisl gravida et. Nullam ultrices rutrum justo, quis sodales arcu dignissim non. Aliquam lectus metus, convallis quis facilisis sed, rhoncus sed sem. Vestibulum commodo est sed velit pulvinar vitae mattis metus rhoncus. Cras aliquam lacus sed turpis convallis pretium. Morbi sit amet gravida erat. Donec et felis augue, vel volutpat tellus. Fusce sagittis aliquet felis, vitae aliquet dui tempus ac.</p>
          <p>Fusce facilisis velit eget massa ultrices sit amet iaculis arcu interdum. Ut gravida urna at odio lacinia et ultrices velit sodales. Aenean vulputate fermentum leo, sit amet commodo turpis pharetra ut. In hac habitasse platea dictumst. Nulla et tellus nibh, ut malesuada ipsum. In hac habitasse platea dictumst. Cras nisl est, vestibulum vel dictum vel, volutpat eget lorem. Aenean nisi turpis, ullamcorper non dictum posuere, malesuada non risus. Sed metus sapien, hendrerit ac ornare ac, consectetur eget sem. Nullam ac ante magna. Aenean vel metus non sapien luctus viverra. Phasellus nisi mauris, posuere vestibulum consequat congue, tempus eu leo. Suspendisse potenti. Praesent ac erat quam. Phasellus in felis erat. Suspendisse ante lorem, ultricies id sagittis id, rutrum quis velit. </p>
        </div>
      </li>
    </ul>
{% endblock %}
