<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>raido-journal.ru</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js')}}"></script>
</head>

{% set navigation_bar = [
  ('/', 'Main', 'Главная'),
  ('/tdiary','Training Diary','Дневник'),
  ('/tadd','Add','Добавить'),
] -%}

{% set active_page = active_page | default('Main') -%}

<body>
<div id="container">
<div id="header">
  <a href="/"><h1 id="logo">Raido</h1></a>
  <ul>{% for href, title, caption in navigation_bar%}
  <li>
      <a href="{{ href|e }}" title="{{ title|e }}">{% if title == active_page %}<span>{% endif %}{{ caption | e }}{% if title == active_page %}</span>{% endif %}</a>
  </li>{% endfor %}  
  </ul>
</div>

<div id="container2">
<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
    <p>Copyright &copy; Raido</br></p>
    <p id="infolio">Создание сайта</a> &mdash; <a href="http://www.raido.ru/">Mike Grozak</a></p>
</div>

</div>

</div>
</body>
</html>
