<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Train Journal</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils.js')}}"></script>
</head>

{% from "_formhelpers.html" import menu_field %}

{# href, title, caption, always display menu entry, display only if user is logged in #}
{% set navigation_bar = [
  ('/', 'Main', 'Main',True,True),
  ('/tdiary','Diary','Diary',True,True),
  ('/tadd','Add','Add', False, True),
  ('/login','In','In', True, False),
  ('/logout','Out','Out', False, True),
] -%}

{% set active_page = active_page | default('Main') -%}

<body>
<div id="container">
<div id="header">
  <a href="/"><h1 id="logo">Raido</h1></a>
  <ul>
  {% for href,title,caption,always,lgd in navigation_bar -%}
  {%- if ( always == True and lgd == True )
      or (session.logged_in == True and always == False and lgd == True)
      or (not session.logged_in and always == True and lgd == False)
  -%}
      {{ menu_field(href,title,caption,active_page) }}
    {%- endif -%}
  {% endfor -%}  
  </ul>
</div>

<div id="container2">
<div id="content">{% block content %}{% endblock %}
{% if pagination %}
<div id="pagination">{% block pagination %}{% endblock %}</div>
{% endif %}
</div>


<div id="footer">
  <p>Copyright &copy; Raido</br></p>
  <p id="infolio">Создание сайта</a> &mdash; <a href="http://www.raido.ru/">Mike Grozak</a></p>
</div>

</div>

</div>
</body>
</html>
