{% extends "layout.html" %}
{% set active_page='Log In' %}

{% block content %}
<ul class="details">
<li><h2><a href="#">Login</a></h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method="POST">
  <dl>
    <dt>Username:</dt>
    <dd><input type=text name=username></dd>
    <dt>Password:</dt>
    <dd><input type=password name=password></dd>
    <dd><input type=submit value=Login></dd>
  </dl>
</form>
</li>
</ul>
{% endblock %}
