<li><h2><a href="#" class="dashed">Условные обозначения</a></h2>
  <div class="hide">
    <dl class="shorthand">
      <dt class="first">TT</dt>
      <dd class="first">Training Time spent for one training</dd>
      <dt>AvP</dt>
      <dd>Average Pulse during the training, is read from your HRM</dd>
      <dt>MxP</dt>
      <dd>Maximal Pulse during the training, is read from your HRM</dd>
      <dt>Z1</dt>
      <dd>Time stayed in Green Zone of the the heart load</dd>
      <dt>Z2</dt>
      <dd>Time stayed in Yellow Zone of the heart load</dd>
      <dt>Z3</dt>
      <dd>Time stayed in Red Zone of the heart load</dd>
      <dt>AvS</dt>
      <dd>Average Speed</dd>
      <dt>Dst</dt>
      <dd>Distance</dd>
      <dt>KCal</dt>
      <dd>Kilocalories or kilogram calories</dd>
    </dl>
  </div>
</li>

