{% extends "layout.html" %}
{% set active_page='Add' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
<ul class="details">
  {% include 'shorthand.html' %}
  <li><h2><a href="#">Edit training</a></h2>
    <form action="{{ url_for('tj_t_edit', t_id=t_f_id) }}" method="POST">
      <dl class="tdef terminTopAlign">
        {% for attr in output_template -%}
          {% if attr['name'] == 'desc' -%}
            {{ render_field(form[ attr['name'] ], class='inputText') }}
          {% else -%}
            {{ render_field(form[ attr['name'] ]) }}
          {% endif -%}
        {% endfor -%}
        <dd><input type="submit" value="Save"></dd>
      </dl>
    </form>

  </li>
</ul>
{% endblock %}
