{% extends "layout.html" %}
{% set active_page='Diary' %}
{% from "_formhelpers.html" import render_pagination %}

{% block content %}
<p>Прошедшие тренировки по датам:</p>
<!-- http://www.maxdesign.com.au/articles/definition/ -->
{%- if not tlist -%}
<p>No trainings were found</p>
{%- else -%}
<ul class="details">
{% include 'shorthand.html' -%}
{% for wk in tlist -%}
<li>
<h2><a href="#" class="dashed">{{ wk.tj_training.traindate | datetimeformat | e }} - {{ wk.tj_training.title | e }}</a>
  {%- if session.logged_in -%}
    &nbsp;&nbsp;<a href="/tedit/{{ wk.tj_training.id }}">&plusmn;</a>&nbsp;<a href="/tdel/{{ wk.tj_training.id }}">&times;</a>
  {%- endif -%}</h2> 

  <div class="hide">
    {{ wk.tj_training.desc | markdown }}
    <dl class="tlist">
      <dt>TT</dt>
      <dd>{{ wk.tj_training.tt }}</dd>
      {% for attr in wk.output_template -%}
      {% if attr['name'] not in ['traindate', 'title', 'desc', 'tt'] -%}
      <dt>{{ attr['label'] }}</dt>
      <dd>{{ wk.tj_training.props[ attr['name'] ] }}</dd>
      {% endif -%}
      {% endfor -%}
    </dl>
  </div>
</li>
{%- set day = wk.tj_training.traindate | datetimeformat(format='%a') | e  -%}
{%- if wk.tj_training.traindate | datetimeformat(format='%a') | e == 'Sun' -%}
<!-- SUN -->
{%- endif -%}
{% endfor -%}
</ul>
{{ render_pagination(pagination) }}
{%- endif -%}
{% endblock %}
