{% extends "layout.html" %}
{% set active_page='Training Diary' %}

{% block content %}
    <p>Прошедшие тренировки по датам:</p>
    <ul class="details">
      <li><h2><a href="#" class="dashed">Условные обозначения</a></h2>
      <div class="hide"><dl class="shorthand">
          <dt class="first">TT</dt>
          <dd class="first">Training Time spent for one training</dd>
          <dt>AvP</dt>
          <dd>Average Pulse during the training, is read from your HRM</dd>
          <dt>MxP</dt>
          <dd>Maximal Pulse during the training, is read from your HRM</dd>
          <dt>Z1</dt>
          <dd>Time stayed in Green Zone of the the heart load</dd>
          <dt>Z2</dt>
          <dd>Time stayed in Yellow Zone of the heart load</dd>
          <dt>Z3</dt>
          <dd>Time stayed in Red Zone of the heart load</dd>
          <dt>AvS</dt>
          <dd>Average Speed</dd>
          <dt>Dst</dt>
          <dd>Distance</dd>
          <dt>KCal</dt>
          <dd>Kilocalories or kilogram calories</dd>
        </dl>
      </div>
      </li>
    </ul>
    <ul class="details">
        <li>
          <h2><a href="#" class="dashed">02.04.2012</a></h2>
          <div class="hide"><p>В <a href="/tdiary">тренировочном дневнике</a> ведётся запись всех тренировок. На основании
              этой информации можно сделать вывод о дальнейшем планировании нагрузок и восстановления.
              Также можно заметить, на какой неделе кто-то халявил, а на какой - нет :)</p>
          </div>
        </li>
        {% for k in tlist %}
        <li>
          <h2><a href="#" class="dashed">{{ k.traindate | e }}</a></h2>
          <div class="hide">
            <dl class="tlist">
              <dt>TT</dt>
              <dd>{{ k.tt | e }}</dd>
              <dt>AvP</dt>
              <dd>{{ k.avp | e }}</dd>
              <dt>MxP</dt>
              <dd>{{ k.mxp | e }}</dd>
            </dl>
            <dl class="tlist">
              <dt>HZ</dt>
              <dd>{{ k.z1 | e }}</dd>
              <dt>FZ</dt>
              <dd>{{ k.z2 | e }}</dd>
              <dt>PZ</dt>
              <dd>{{ k.z3 | e }}</dd>
            </dl>
            <dl class="tlist">
              <dt>AvS</dt>
              <dd>{{ k.avs | e }}</dd>
              <dt>Dst</dt>
              <dd>{{ k.dst | e }}</dd>
              <dt>KCal</dt>
              <dd>{{ k.kcal | e }}</dd>
            </dl>
          </div>
        </li>
        {% endfor %}
        <li><h2><a href="#" class="dashed">03.04.2012</a></h2>
        <div class="hide">
	<!-- http://www.maxdesign.com.au/articles/definition/ -->
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
        <li><h2><a href="#" class="dashed">05.04.2012</a></h2>
        <div class="hide">
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
        <li><h2><a href="#" class="dashed">03.04.2012</a></h2>
        <div class="hide">
	<!-- http://www.maxdesign.com.au/articles/definition/ -->
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
        <li><h2><a href="#" class="dashed">05.04.2012</a></h2>
        <div class="hide">
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
        <li><h2><a href="#" class="dashed">05.04.2012</a></h2>
        <div class="hide">
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
        <li><h2><a href="#" class="dashed">05.04.2012</a></h2>
        <div class="hide">
          <dl class="tlist">
            <dt>TT</dt>
            <dd>01:34:00</dd>
            <dt>AvP</dt>
            <dd>129</dd>
            <dt>MxP</dt>
            <dd>172</dd>
          </dl>
          <dl class="tlist">
            <dt>HZ</dt>
            <dd>00:51:16</dd>
            <dt>FZ</dt>
            <dd>0:28:04</dd>
            <dt>PZ</dt>
            <dd>00:00:20</dd>
          </dl>
          <dl class="tlist">
            <dt>AvS</dt>
            <dd>25.1</dd>
            <dt>Dst</dt>
            <dd>44.01</dd>
            <dt>KCal</dt>
            <dd>763</dd>
          </dl>
        </div></li>
    </ul>
{% endblock %}
