{% extends "layout.html" %}
{% set active_page='Training Diary' %}

{% block content %}
    <p>Прошедшие тренировки по датам:</p>
	<!-- http://www.maxdesign.com.au/articles/definition/ -->
    <ul class="details">
        {% include 'shorthand.html' %}
        {% for k in tlist %}
        <li>
          <h2><a href="#" class="dashed">{{ k.traindate | datetimeformat | e }} - {{ k.title | e }}</a></h2>
          <div class="hide">
            <dl class="tlist">
              <dt>Route</dt>
              <dd>{{ k.props.route | e }}</dd>
              <dt>TT</dt>
              <dd>{{ k.tt | e }}</dd>
              <dt>AvP</dt>
              <dd>{{ k.props.avp | e }}</dd>
              <dt>MxP</dt>
              <dd>{{ k.props.mxp | e }}</dd>
            <!--</dl>
          <dl class="tlist"> -->
              <dt>HZ</dt>
              <dd>{{ k.props.z1 | e }}</dd>
              <dt>FZ</dt>
              <dd>{{ k.props.z2 | e }}</dd>
              <dt>PZ</dt>
              <dd>{{ k.props.z3 | e }}</dd>
            <!-- </dl>
          <dl class="tlist"> -->
              <dt>AvS</dt>
              <dd>{{ k.props.avs | e }}</dd>
              <dt>Dst</dt>
              <dd>{{ k.props.dst | e }}</dd>
              <dt>KCal</dt>
              <dd>{{ k.props.kcal | e }}</dd>
              <dd>{{ k.desc | e }}</dd>
            </dl>
            <p>{{ k.desc | e }}</p>
          </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
